<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Rental Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="film in items.collection">
        <td><a ng-href="#/films/{{film.filmId}}">{{film.title}}</a></td>
        <td>{{film.description}}</td>
        <td>{{film.rating}}</td>
        <td>{{film.rentalRate}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-if="items.pageCount != 1">
        <td colspan="4">
            <div>
                <pagination total-items="items.totalCount" items-per-page="items.pageSize" page="items.pageNumber" max-size="5" boundary-links="true" on-select-page="onPaginate(page)"></pagination>
            </div>
        </td>    
    </tr>
    </tfoot>
</table>